/* here goes all the css shared by the pages */
/* e. g. header and footer */
/* our fonts should also go here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* remember to start coding for the mobile version and branch out from there */
/* gotta add media queries for super large screens and to center content if time left */

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


/* LOGO AND NAVIGATION AKA HEADER */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: white 3.5px solid;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 10px 1px;
    width: 100px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

/*Footer*/

footer {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    height: 6vh;
    padding: 10px;
}
