/* here goes all the css shared by the pages */
/* e. g. header and footer */
/* our fonts should also go here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
/* remember to start coding for the mobile version and branch out from there */
/* gotta add media queries for super large screens and to center content if time left */

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Syne', sans-serif;
    --third-font: 'Poppins', sans-serif;
    --text-color: #fff;
}

/* HEADER */

header {
    text-align: center;
}

.name {
    z-index: 5;
}

nav {
    justify-content: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px 14px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

/*Footer*/

footer {
    color: white;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding: 0;
}

.socials a {
    margin: 0 15px;
    color: white;
}

.socials i {
    font-size: 20px;
}

/*Media Queries*/

@media only screen and (max-width: 800px) {
    .logo img {
        max-width: auto;
    }
}

@media only screen and (min-width: 920px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .name,
    .logo_left {
        z-index: 5;
    }

    nav {
        padding: 0 20px;
        z-index: 5;
    }

    .line {
        position: relative;
    }

    .line::before {
        border-bottom: white 3.5px solid;
        z-index: 3;
        display: block;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
