body {
    background: rgb(2, 21, 28);
    background: linear-gradient(180deg, #202020 0%, rgba(25, 98, 103, 1) 50%, #202020 100%);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 100%;
    color: white;
}

.name img {
    max-height: 80px;
}

.grid {
    margin: 8px 15px;
}

.summary a {
    color: lightskyblue;
}

.summary a:hover {
    font-weight: bolder;
}

.summary h1,
.details h2,
.information h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--third-font);
    letter-spacing: 1px;
    font-size: 22px;
    margin-top: 20px;
}

.summary p,
.details ul li,
.information ul li {
    font-family: var(--third-font);
    font-size: 14px;
    margin: 5px 0;
}

.details h3 {
    font-family: var(--third-font);
    font-size: 16px;
}

@media only screen and (min-width: 500px) {
    .grid img {
        max-width: 400px;
    }

    .illustration {
        text-align: center;
    }
}

@media only screen and (min-width: 800px) {

    .grid {
        height: calc(100vh - 84px - 80px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner {
        display: flex;
    }

    .illustration,
    .right {
        flex: 50%;
    }

    .summary h1,
    .details h2,
    .information h2 {
        text-align: left;
        justify-content: flex-start;
        text-transform: capitalize;
    }

    .illustration {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
