* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgb(2, 21, 28);
    background: linear-gradient(180deg, rgba(2, 21, 28, 1) 0%, rgba(85, 98, 103, 1) 50%, rgba(2, 21, 28, 1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 100%;
    color: white;
}
main {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem;
    /*    margin: 1rem 5rem;*/
}

.name img {
    max-height: 80px;
}

li a:hover {
    color: #45A29E;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.best_sellers {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.best_sellers img {
    border-radius: 10px;
}

.container {
    position: relative;
    margin: 0 2rem;
    padding: 0;
}

.container .btn {
    position: absolute;
    bottom: 2%;
    right: 0;
    left: 0;
    background-color: #1d2833;
    border: 1px solid #45a29e;
    font-family: 'syne', sans-serif;
    color: aliceblue;
    border-radius: 5px;
    margin: auto;
}

.container img:hover {
    z-index: 1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.container .btn:hover {
    background-color: darkcyan;
}

.container .btn:active {
    background-color: red;
}

.product {
    border-radius: 10px;
    border: 1px solid lightskyblue;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 1rem 2rem;
    margin: 0rem auto;
    width: 17rem;
    z-index: 1;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.product:hover {
    z-index: 1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.2;
    filter: alpha(opacity=50);
}

.product h2 {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product h3 {
    font-family: 'Syne', sans-serif;
}

/* CATEGORIES */


/* FILTERS */

.filters {
    display: flex;
    margin: 3rem 0rem 0rem;
    justify-content: flex-start;
    margin-left: 4rem;

}

details {
    margin-right: 4rem;
}

summary {
    position: relative;
    font-family: syne, sans-serif;
    cursor: pointer;
}

summary:hover {
    color: #45A29E;
}

.filters .button {
    position: absolute;
    z-index: 2;
}

.filters button {
    cursor: pointer;
}





.filters button {
    display: block;
    width: 140px;
    background-color: #1d2833;
    border-radius: 7%;
    color: white;
    font-family: syne, sans-serif;
}

.filters button:hover {
    background-color: darkcyan;
}

/* MODAL'S STYLING */

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: rgb(32, 32, 32);
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

#modal-btn {
    border: 2px solid lightskyblue;
    background: none;
    padding: 10px 16px;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    margin: auto;
    width: 140px;
    margin-top: 5px;
    font-family: syne, sans-serif;
}

#modal-btn:hover {
    background: lightskyblue;
    color: black;
}

/* media queries */

@media only screen and (min-width: 900px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media only screen and (max-width: 600px) {
    main {
        border-top: none;
        margin: 0rem auto;
    }

    .best_sellers {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .best_sellers {
        margin-bottom: 2.5rem;
    }

    h1 {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .categories {
        display: none;
    }

    .filtration {
        margin-top: 4rem;
    }

    .filters {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0;
    }
    .container img {
        margin-bottom: 1.5rem;
    }
    .container .btn {
    position: absolute;
    bottom: 15%;
    right: 0;
    left: 0;
    background-color: #1d2833;
    border: 1px solid #45a29e;
    font-family: 'syne', sans-serif;
    color: aliceblue;
    border-radius: 5px;
    margin: auto;
}

}
