/* here we style the content between header and footer */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* SVG PATH */
body {
    background-image: linear-gradient(#02151C, #556267);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
}


.background_shape {
    position: absolute;
    z-index: -1;
}

/*TEXT STYLING*/

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    padding: 10px;

}

/*Media Queries*/

@media only screen and (max-width: 500px) {

}
