/* Grid Names */
header { grid-area: hd;}
main { grid-area: mn;}
aside { grid-area: as;}
footer { grid-area: fr}
nav { grid-area: nav}


body{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    display: grid;
        grid-template-columns:  1fr 1fr 1fr ;
        grid-template-areas:" hd hd hd"
                            " nav nav nav "
                            " mn mn mn"
                            " fr fr fr" ;
    margin: 0;

}
/* links */
  a{
    color: #457B9D;
    text-decoration: none;
  }
  main a{
    color: #457B9D;
    text-decoration: none;
  }
  aside a{
    color: #457B9D;
    text-decoration: none;
  }
  a:hover {
    color: #E63946;
    text-decoration: none;
  }
/* Elements */ 

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.content p{ 
    margin-left:20%;
    margin-right: 20%;
    line-height: 1.6;
}
footer p{
    margin-left: 5%;
}
footer{
    background-color:#1D3557;
    color: white;
}
.item{
    height: 20em;
    width: 15em;
    background-color: aliceblue;
}
/* NavBar */ 
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;  
  }
  nav li{
    padding: 5px;
    float: left; 
    margin-right: 60px;
  }
  nav a{
    color: #457B9D;
  }
  nav{
    display: flex;
    justify-content: space-evenly;
  }


